body {
  font-family: Roboto;
  background-color: #1F2937;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: white;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

.logo {
  display: flex;
  justify-content: start;
  font-weight: bolder;
  font-size: 30px;
}

.link {
  display: flex;
  justify-content: end;
  font-size: 20px;
}

.container {
  display: flex;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 24px;
  color: white;
}

.left-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.right-side {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.sign-up {
  background-color: #3882F6;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 0;
  padding: 15px 35px;
  font-weight: bolder;
  font-size: 20px;
  width: 250px;
}

.info-section {
  background-color: white;
  height: 600px;
  margin-top: 80px;
  margin-bottom: 0;
}

.header2 {
  font-size: 40px;
  padding-top: 40px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  border-radius: 12px;
  width: 240px;
  text-align: center;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.quote-section {
  background-color: #E5E7EB;
  height: 350px;
  padding: 0;
  margin: 0;
}

.quote-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  padding: 30px;
  margin: 0 auto;
}
.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300px;
  padding: 20px;
  margin: 0;
}

.quote-author {
  font-size: 22px;
  color: #1F2937;
  font-weight: 300px;
  padding: 20px;
  margin: 0;
  align-self: flex-end;
}

.cta {
  background-color: white;
  height: 300px;
  padding-top: 80px;
  margin: 0;
}

.blue-cta {
  display: flex;
  flex: 1;
  background-color: #3882F6;
  padding: 44px 60px;
  max-width: 600px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 24px;
  color: white;
}

.sign-up2 {
  color: white;
  background-color: #3882F6;
  border-radius: 10px;
  font-weight: bolder;
  border-width: 2px;
  border-style: solid;
  border-color: #E5E7EB;
  width: 160px;
  padding: 10px 20px
}

.cta-text {
  color: white;
}

.copyright {
  background-color: #1F2937;
  height: 80px;
}

.copyright-text {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 18px;
  padding: 30px;
  margin: 0 auto;
}